
## Teacher Strike Data Collection, Cleaning, Database Storing

In [1]:
# dependencies

import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

### Enrollment Data

In [2]:
# import district enrollment data csv

district_enroll_data = pd.read_csv("./Enrollment-Data.csv")
district_enroll_data

,Agency Name,State Name [District] Latest available year,Agency ID - NCES Assigned [District] Latest available year,Total Number Operational Schools [Public School] 2016-17,Total Number Operational Charter Schools [Public School] 2016-17,Total Number of Public Schools [Public School] 2016-17,CBSA ID [District] 2016-17,Total Students All Grades (Excludes AE) [District] 2016-17,Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2016-17,Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2016-17 Percent,Individualized Education Program Students [District] 2016-17,Individualized Education Program Students [District] 2016-17 Percent,Pupil/Teacher Ratio [District] 2016-17
0,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,MICHIGAN,2601103.0,92,0,92,19820.0,45455,5572.0,0.122583,7722.0,0.169882,17.66
1,JERSEY CITY SCHOOL DISTRICT,New Jersey,3407830.0,39,0,39,35620.0,29659,2653.0,0.089450,4181.0,0.140969,11.98
2,LOS ANGELES UNIFIED,California,622710.0,1012,279,1014,31080.0,633621,132096.0,0.208478,85751.0,0.135335,22.56
3,OAKLAND UNIFIED,California,628050.0,127,37,127,41860.0,49760,11978.0,0.240715,6495.0,0.130527,20.48
4,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,Colorado,803360.0,204,56,204,19740.0,91138,26791.0,0.293961,NaN,NaN,15.24
5,TACOMA SCHOOL DISTRICT,Washington,5308700.0,66,0,66,42660.0,29098,2803.0,0.096330,3979.0,0.136745,17.91
6,US TOTAL,US TOTAL,NaN,98330,7011,99154,NaN,50315712,NaN,0.117933,NaN,0.136811,15.94

In [3]:
# reorganize dataframe

district_enroll_summary = district_enroll_data[['Agency Name',
                                                'State Name [District] Latest available year',
                                                'Total Number Operational Schools [Public School] 2016-17',
                                                'Total Students All Grades (Excludes AE) [District] 2016-17',
                                                'Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2016-17 Percent',
                                                'Individualized Education Program Students [District] 2016-17 Percent',
                                                'Pupil/Teacher Ratio [District] 2016-17']]
district_enroll_summary

,Agency Name,State Name [District] Latest available year,Total Number Operational Schools [Public School] 2016-17,Total Students All Grades (Excludes AE) [District] 2016-17,Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2016-17 Percent,Individualized Education Program Students [District] 2016-17 Percent,Pupil/Teacher Ratio [District] 2016-17
0,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,MICHIGAN,92,45455,0.122583,0.169882,17.66
1,JERSEY CITY SCHOOL DISTRICT,New Jersey,39,29659,0.089450,0.140969,11.98
2,LOS ANGELES UNIFIED,California,1012,633621,0.208478,0.135335,22.56
3,OAKLAND UNIFIED,California,127,49760,0.240715,0.130527,20.48
4,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,Colorado,204,91138,0.293961,NaN,15.24
5,TACOMA SCHOOL DISTRICT,Washington,66,29098,0.096330,0.136745,17.91
6,US TOTAL,US TOTAL,98330,50315712,0.117933,0.136811,15.94

In [4]:
IDs = ['det_mi', 'jc_nj', 'la_ca', 'oak_ca', 'den_co', 'taco_wa', 'us_total']
district_enroll_summary['ID'] = IDs
district_enroll_summary

C:\Users\emily\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Agency Name,State Name [District] Latest available year,Total Number Operational Schools [Public School] 2016-17,Total Students All Grades (Excludes AE) [District] 2016-17,Limited English Proficient (LEP) / English Language Learners (ELL) [District] 2016-17 Percent,Individualized Education Program Students [District] 2016-17 Percent,Pupil/Teacher Ratio [District] 2016-17,ID
0,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,MICHIGAN,92,45455,0.122583,0.169882,17.66,det_mi
1,JERSEY CITY SCHOOL DISTRICT,New Jersey,39,29659,0.089450,0.140969,11.98,jc_nj
2,LOS ANGELES UNIFIED,California,1012,633621,0.208478,0.135335,22.56,la_ca
3,OAKLAND UNIFIED,California,127,49760,0.240715,0.130527,20.48,oak_ca
4,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,Colorado,204,91138,0.293961,NaN,15.24,den_co
5,TACOMA SCHOOL DISTRICT,Washington,66,29098,0.096330,0.136745,17.91,taco_wa
6,US TOTAL,US TOTAL,98330,50315712,0.117933,0.136811,15.94,us_total

In [5]:
district_enroll_summary.columns = ['District Name',
                                   'State Name',
                                   'Total Operational Schools',
                                   'Total Students',
                                   'LEP ELL Percent',
                                   'IEP Percent',
                                   'Pupil/Teacher Ratio',
                                   'ID']
district_enroll_summary

,District Name,State Name,Total Operational Schools,Total Students,LEP ELL Percent,IEP Percent,Pupil/Teacher Ratio,ID
0,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,MICHIGAN,92,45455,0.122583,0.169882,17.66,det_mi
1,JERSEY CITY SCHOOL DISTRICT,New Jersey,39,29659,0.089450,0.140969,11.98,jc_nj
2,LOS ANGELES UNIFIED,California,1012,633621,0.208478,0.135335,22.56,la_ca
3,OAKLAND UNIFIED,California,127,49760,0.240715,0.130527,20.48,oak_ca
4,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,Colorado,204,91138,0.293961,NaN,15.24,den_co
5,TACOMA SCHOOL DISTRICT,Washington,66,29098,0.096330,0.136745,17.91,taco_wa
6,US TOTAL,US TOTAL,98330,50315712,0.117933,0.136811,15.94,us_total

In [6]:
district_enroll_summary = district_enroll_summary[['ID',
                                    'District Name',
                                   'State Name',
                                   'Total Operational Schools',
                                   'Total Students',
                                   'LEP ELL Percent',
                                   'IEP Percent',
                                   'Pupil/Teacher Ratio']]
district_enroll_summary

,ID,District Name,State Name,Total Operational Schools,Total Students,LEP ELL Percent,IEP Percent,Pupil/Teacher Ratio
0,det_mi,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,MICHIGAN,92,45455,0.122583,0.169882,17.66
1,jc_nj,JERSEY CITY SCHOOL DISTRICT,New Jersey,39,29659,0.089450,0.140969,11.98
2,la_ca,LOS ANGELES UNIFIED,California,1012,633621,0.208478,0.135335,22.56
3,oak_ca,OAKLAND UNIFIED,California,127,49760,0.240715,0.130527,20.48
4,den_co,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,Colorado,204,91138,0.293961,NaN,15.24
5,taco_wa,TACOMA SCHOOL DISTRICT,Washington,66,29098,0.096330,0.136745,17.91
6,us_total,US TOTAL,US TOTAL,98330,50315712,0.117933,0.136811,15.94

In [7]:
district_enroll_summary["LEP ELL Percent"] = district_enroll_summary["LEP ELL Percent"] * 100
district_enroll_summary["IEP Percent"] = district_enroll_summary["IEP Percent"] * 100

district_enroll_summary["LEP ELL Percent"] = district_enroll_summary["LEP ELL Percent"].map("{:.2f}%".format)
district_enroll_summary["IEP Percent"] = district_enroll_summary["IEP Percent"].map("{:.2f}%".format)

district_enroll_summary

,ID,District Name,State Name,Total Operational Schools,Total Students,LEP ELL Percent,IEP Percent,Pupil/Teacher Ratio
0,det_mi,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,MICHIGAN,92,45455,12.26%,16.99%,17.66
1,jc_nj,JERSEY CITY SCHOOL DISTRICT,New Jersey,39,29659,8.95%,14.10%,11.98
2,la_ca,LOS ANGELES UNIFIED,California,1012,633621,20.85%,13.53%,22.56
3,oak_ca,OAKLAND UNIFIED,California,127,49760,24.07%,13.05%,20.48
4,den_co,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,Colorado,204,91138,29.40%,nan%,15.24
5,taco_wa,TACOMA SCHOOL DISTRICT,Washington,66,29098,9.63%,13.67%,17.91
6,us_total,US TOTAL,US TOTAL,98330,50315712,11.79%,13.68%,15.94

In [8]:
# pass dataframe to database

engine = create_engine('postgres://postgres:postgres@localhost:5432/teacher_strike_db')
conn = engine.connect()
district_enroll_summary.to_sql('district_enrollment', con=conn, if_exists='replace', index=False)

In [9]:
# confirm table was created

conn = psycopg2.connect(host="localhost",database="teacher_strike_db", user="postgres", password="postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM district_enrollment")
for row in cur:
    print(row)

cur.close()
conn.close()

('det_mi', 'DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT', 'MICHIGAN', 92, 45455, '12.26%', '16.99%', 17.66)
('jc_nj', 'JERSEY CITY SCHOOL DISTRICT', 'New Jersey', 39, 29659, '8.95%', '14.10%', 11.98)
('la_ca', 'LOS ANGELES UNIFIED', 'California', 1012, 633621, '20.85%', '13.53%', 22.56)
('oak_ca', 'OAKLAND UNIFIED', 'California', 127, 49760, '24.07%', '13.05%', 20.48)
('den_co', 'SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER AND STATE OF C', 'Colorado', 204, 91138, '29.40%', 'nan%', 15.24)
('taco_wa', 'TACOMA SCHOOL DISTRICT', 'Washington', 66, 29098, '9.63%', '13.67%', 17.91)
('us_total', 'US TOTAL', 'US TOTAL', 98330, 50315712, '11.79%', '13.68%', 15.94)

### Funding Data

In [10]:
# import district funding data csv

revenue_data = pd.read_csv("./revenue-data.csv")
revenue_data

,AGENCY NAMES,abbr,State Name [District] Latest available year,Total Revenue (TOTALREV) per Pupil (V33) [District Finance] 2014-15,Total Revenue - Local Sources (TLOCREV) per Pupil (V33) [District Finance] 2014-15,Total Revenue - State Sources (TSTREV) per Pupil (V33) [District Finance] 2014-15,Total Revenue - Federal Sources (TFEDREV) per Pupil (V33) [District Finance] 2014-15,Total Current Expenditures - Support Services (TCURSSVC) per Pupil (V33) [District Finance] 2014-15,Total Expenditures (TOTALEXP) per Pupil (V33) [District Finance] 2014-15,Instructional Expenditures (E13) per Pupil (V33) [District Finance] 2014-15
0,JERSEY CITY SCHOOL DISTRICT,jc_nj,New Jersey,26111.00000,4483.000000,20040.00,1588.000000,7316,25537.00000,12784.000000
1,LOS ANGELES UNIFIED,la_ca,California,14311.00000,3598.000000,8935.00,1778.000000,4258,14176.00000,7185.000000
2,OAKLAND UNIFIED,oak_ca,California,12549.00000,4827.000000,6376.00,1346.000000,3865,12338.00000,5491.000000
3,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,den_co,Colorado,13364.00000,7488.000000,4354.00,1523.000000,5029,15110.00000,5189.000000
4,TACOMA SCHOOL DISTRICT,taco_wa,Washington,14135.00000,5235.000000,7605.00,1294.000000,4943,13555.00000,6400.000000
5,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,det_mi,Detroit,0.00000,0.000000,0.00,0.000000,0,0.00000,0.000000
6,NATIONAL AVERAGE,us_total,US,13644.41176,5859.137255,6731.28,1054.019608,4290,13612.64706,7181.196078

In [11]:
# reorganize dataframe

revenue_data1 = revenue_data
revenue_data1.columns = ['District_Name',
                        'District_abbr',
                        'State_Name',
                        'Total_Revenue_Per_Pupil',
                        'Local_Source_Per_Pupil',
                        'State_Source_Per_Pupil',
                        'Federal_Source_Per_Pupil',
                        'Total_Current_Expenditures_Support_Servicesper_Pupil',
                        'Total_Expenditures_per_Pupil',
                        'Instructional_Expenditures_per_Pupil']
revenue_data1 
revenue_data1.round()

,District_Name,District_abbr,State_Name,Total_Revenue_Per_Pupil,Local_Source_Per_Pupil,State_Source_Per_Pupil,Federal_Source_Per_Pupil,Total_Current_Expenditures_Support_Servicesper_Pupil,Total_Expenditures_per_Pupil,Instructional_Expenditures_per_Pupil
0,JERSEY CITY SCHOOL DISTRICT,jc_nj,New Jersey,26111.0,4483.0,20040.0,1588.0,7316,25537.0,12784.0
1,LOS ANGELES UNIFIED,la_ca,California,14311.0,3598.0,8935.0,1778.0,4258,14176.0,7185.0
2,OAKLAND UNIFIED,oak_ca,California,12549.0,4827.0,6376.0,1346.0,3865,12338.0,5491.0
3,SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER ...,den_co,Colorado,13364.0,7488.0,4354.0,1523.0,5029,15110.0,5189.0
4,TACOMA SCHOOL DISTRICT,taco_wa,Washington,14135.0,5235.0,7605.0,1294.0,4943,13555.0,6400.0
5,DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT,det_mi,Detroit,0.0,0.0,0.0,0.0,0,0.0,0.0
6,NATIONAL AVERAGE,us_total,US,13644.0,5859.0,6731.0,1054.0,4290,13613.0,7181.0

In [12]:
# pass dataframe to database

engine = create_engine('postgres://postgres:postgres@localhost:5432/teacher_strike_db')
conn = engine.connect()
revenue_data1.to_sql('district_funding', con=conn, if_exists='replace', index=False)

In [13]:
# confirm table was created

conn = psycopg2.connect(host="localhost",database="teacher_strike_db", user="postgres", password="postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM district_funding")
for row in cur:
    print(row)

cur.close()
conn.close()

('JERSEY CITY SCHOOL DISTRICT', 'jc_nj', 'New Jersey', 26111.0, 4483.0, 20040.0, 1588.0, 7316, 25537.0, 12784.0)
('LOS ANGELES UNIFIED', 'la_ca', 'California', 14311.0, 3598.0, 8935.0, 1778.0, 4258, 14176.0, 7185.0)
('OAKLAND UNIFIED', 'oak_ca', 'California', 12549.0, 4827.0, 6376.0, 1346.0, 3865, 12338.0, 5491.0)
('SCHOOL DISTRICT NO. 1 IN THE COUNTY OF DENVER AND STATE OF C', 'den_co', 'Colorado', 13364.0, 7488.0, 4354.0, 1523.0, 5029, 15110.0, 5189.0)
('TACOMA SCHOOL DISTRICT', 'taco_wa', 'Washington', 14135.0, 5235.0, 7605.0, 1294.0, 4943, 13555.0, 6400.0)
('DETROIT PUBLIC SCHOOLS COMMUNITY DISTRICT', 'det_mi', 'Detroit ', 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0.0)
('NATIONAL AVERAGE ', 'us_total', 'US', 13644.41176, 5859.137255, 6731.28, 1054.019608, 4290, 13612.64706, 7181.196078)

### Test Score Data

In [14]:
# import individual test score data csv files

In [15]:
CA_2016test_data_df = pd.read_csv("./Test-Data/2016_CA_SBAC_P.csv")
CA_2016test_data_df['Test Id'] = CA_2016test_data_df['Test Id'].replace(1, 'ELA')
CA_2016test_data_df['Test Id'] = CA_2016test_data_df['Test Id'].replace(2, 'Math')
CA_2016test_data_df = CA_2016test_data_df[CA_2016test_data_df.Entity != 'Oakland Charter']
CA_2016test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,ca,California,2016,ELA,3196619,20,29,48
1,ca,California,2016,Math,3204822,17,20,37
2,a_county,Alameda County Office of Education,2016,ELA,114787,27,28,55
3,a_county,Alameda County Office of Education,2016,Math,115430,26,20,47

In [16]:
CA_2017test_data_df = pd.read_csv("./Test-Data/2017_CA_SBAC_P.csv")
CA_2017test_data_df['Test Id'] = CA_2017test_data_df['Test Id'].replace(1, 'ELA')
CA_2017test_data_df['Test Id'] = CA_2017test_data_df['Test Id'].replace(2, 'Math')
CA_2017test_data_df = CA_2017test_data_df[CA_2017test_data_df.Entity != 'Oakland Charter']
CA_2017test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,us_total,National Public,2017,ELA,NaN,NaN,NaN,35.00
1,us_total,National Public,2017,Math,NaN,NaN,NaN,36.00
2,ca,California,2017,ELA,3209613.0,20.12,28.44,48.56
3,ca,California,2017,Math,3220894.0,17.60,19.96,37.56
4,a_county,Alameda County Office of Education,2017,Math,117010.0,27.56,19.81,47.37
5,a_county,Alameda County Office of Education,2017,ELA,116292.0,27.20,27.48,54.68
6,oak_ca,Oakland Unified School District,2017,Math,18013.0,11.25,14.25,25.51
7,oak_ca,Oakland Unified School District,2017,ELA,17697.0,11.92,19.94,31.86
8,la_county,Los Angeles County Office of Education,2017,ELA,769958.0,19.15,28.05,47.20
9,la_county,Los Angeles County Office of Education,2017,ELA,773720.0,16.32,19.57,35.89
10,la_ca,Los Angeles Unified School District,2017,ELA,260826.0,14.59,24.96,39.55
11,la_ca,Los Angeles Unified School District,2017,Math,263093.0,12.40,17.46,29.86

In [17]:
CA_2018test_data_df = pd.read_csv("./Test-Data/2018_CA_SBAC_P.csv")
CA_2018test_data_df['Test Id'] = CA_2018test_data_df['Test Id'].replace(1, 'ELA')
CA_2018test_data_df['Test Id'] = CA_2018test_data_df['Test Id'].replace(2, 'Math')
CA_2018test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,ca,California,2018,ELA,3180571,21.25,28.63,49.88
1,ca,California,2018,Math,3187408,18.64,20.01,38.65
2,a_county,Alameda County Office of Education,2018,ELA,115869,28.82,27.23,56.05
3,a_county,Alameda County Office of Education,2018,Math,116253,28.80,19.80,48.60
4,oak_ca,Oakland Unified School District,2018,Math,17883,11.79,15.02,26.81
5,oak_ca,Oakland Unified School District,2018,ELA,17764,13.26,19.86,33.12
6,la_county,Los Angeles County Office of Education,2018,ELA,758049,20.58,28.35,48.93
7,la_county,Los Angeles County Office of Education,2018,Math,759813,17.66,19.80,37.46
8,la_ca,Los Angeles Unified School District,2018,Math,256447,13.67,17.95,31.62
9,la_ca,Los Angeles Unified School District,2018,ELA,255489,16.49,25.82,42.31

In [18]:
C0_2016test_data_df = pd.read_csv("./Test-Data/2016_CO_PARCC_P.csv")
C0_2016test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,co,Colorado,2016,ELA,408890,6.7,33.4,40.1
1,co,Colorado,2016,Math,411409,5.0,36.6,41.5
2,den_co,Denver County Office of Education,2016,ELA,43057,8.1,28.2,36.3
3,den_co,Denver County Office of Education,2016,Math,44762,11.1,32.5,43.6

In [19]:
C0_2017test_data_df = pd.read_csv("./Test-Data/2017_CO_CMAS_P.csv")
C0_2017test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,co,Colorado,2017,ELA,417041,7.5,34.6,42.1
1,co,Colorado,2017,Math,419813,5.4,37.8,43.2
2,den_co,Denver County Office of Education,2017,ELA,43302,9.5,29.9,39.4
3,den_co,Denver County Office of Education,2017,Math,45470,9.3,33.7,43.0

In [20]:
C0_2018test_data_df = pd.read_csv("./Test-Data/2018_CO_CMAS_P.csv")
C0_2018test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,co,Colorado,2018,ELA,376402,8.7,35.8,44.5
1,co,Colorado,2018,Math,379681,4.7,29.4,34.1
2,den_co,Denver County Office of Education,2018,ELA,37591,11.2,30.7,41.8
3,den_co,Denver County Office of Education,2018,Math,39836,6.0,25.9,32.0

In [21]:
Tacoma_2016test_data_df = pd.read_csv("./Test-Data/2016_Tacoma_SBAC_P.csv")
Tacoma_2016test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,taco_wa,Tacoma School District,2016,ELA,11238,NaN,NaN,46.1
1,taco_wa,Tacoma School District,2016,MATH,13590,NaN,NaN,40.0

In [22]:
Tacoma_2017test_data_df = pd.read_csv("./Test-Data/2017_Tacoma_SBAC_P.csv")
Tacoma_2017test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,wa,Washington,2017,ELA,NaN,NaN,NaN,40.5
1,wa,Washington,2017,Math,NaN,NaN,NaN,41.5
2,taco_wa,Tacoma School District,2017,ELA,12028.0,NaN,NaN,47.6
3,taco_wa,Tacoma School District,2017,Math,14746.0,NaN,NaN,39.6

In [23]:
Tacoma_2018test_data_df = pd.read_csv("./Test-Data/2018_Tacoma_SBAC_P.csv")
Tacoma_2018test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,taco_wa,Tacoma School District,2018,ELA,14858,NaN,NaN,52.5
1,taco_wa,Tacoma School District,2018,MATH,14858,NaN,NaN,39.5

In [24]:
JerseyCity_2016test_data_df = pd.read_csv("./Test-Data/2016_Jersey_City_PARCC_P.csv")
JerseyCity_2016test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,jc_nj,Jersey City,2016,ELA,14873,9.9,32.5,41.3
1,jc_nj,Jersey City,2016,Math,12860,4.2,25.2,29.4

In [25]:
JerseyCity_2017test_data_df = pd.read_csv("./Test-Data/2017_Jersey_City_PARCC_P.csv")
JerseyCity_2017test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,nj,New Jersey,2017,ELA,NaN,NaN,NaN,48.0
1,nj,New Jersey,2017,Math,NaN,NaN,NaN,48.0
2,jc_nj,Jersey City,2017,ELA,15230.0,11.1,32.9,42.8
3,jc_nj,Jersey City,2017,Math,15093.0,4.6,23.9,28.4

In [26]:
JerseyCity_2018test_data_df = pd.read_csv("./Test-Data/2018_Jersey_City_PARCC_P.csv")
JerseyCity_2018test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,jc_nj,Jersey City,2018,ELA,11382,13.4,33.5,48.6
1,jc_nj,Jersey City,2018,Math,15479,6.5,24.5,31.1

In [27]:
Detroit_2016test_data_df = pd.read_csv("./Test-Data/2016_Detroit_MSTEP_P.csv")
Detroit_2016test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,det_mi,Detroit Public Schools Community District,2016,ELA,18771,3.0,11.7,14.6
1,det_mi,Detroit Public Schools Community District,2016,Math,18652,1.9,9.9,10.6

In [28]:
Detroit_2017test_data_df = pd.read_csv("./Test-Data/2017_Detroit_MSTEP_P.csv")
Detroit_2017test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,mi,Michigan,2017,ELA,NaN,NaN,NaN,33.0
1,mi,Michigan,2017,Math,NaN,NaN,NaN,33.5
2,det_mi,Detroit Public Schools Community District,2017,ELA,18274.0,2.2,9.8,19.9
3,det_mi,Detroit Public Schools Community District,2017,Math,18255.0,1.6,7.1,15.4

In [29]:
Detroit_2018test_data_df = pd.read_csv("./Test-Data/2018_Detroit_MSTEP_P.csv")
Detroit_2018test_data_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,det_mi,Detroit Public Schools Community District,2018,ELA,20452,2.4,9.2,11.6
1,det_mi,Detroit Public Schools Community District,2018,Math,20492,1.3,5.4,6.7

In [30]:
# combine all dataframes into one

summary_district_test_scores_df = pd.concat([CA_2016test_data_df, CA_2017test_data_df, CA_2018test_data_df, 
                                             C0_2016test_data_df, C0_2017test_data_df, C0_2018test_data_df,
                                             Tacoma_2016test_data_df, Tacoma_2017test_data_df, Tacoma_2018test_data_df,
                                             JerseyCity_2016test_data_df, JerseyCity_2017test_data_df, JerseyCity_2018test_data_df,
                                             Detroit_2016test_data_df, Detroit_2017test_data_df, Detroit_2018test_data_df], sort=False)
summary_district_test_scores_df

,District Code,Entity,Test Year,Test Id,Students Tested,Percentage Standard Exceeded,Percentage Standard Met,At or Above Proficient
0,ca,California,2016,ELA,3196619.0,20.00,29.00,48.00
1,ca,California,2016,Math,3204822.0,17.00,20.00,37.00
2,a_county,Alameda County Office of Education,2016,ELA,114787.0,27.00,28.00,55.00
3,a_county,Alameda County Office of Education,2016,Math,115430.0,26.00,20.00,47.00
0,us_total,National Public,2017,ELA,NaN,NaN,NaN,35.00
1,us_total,National Public,2017,Math,NaN,NaN,NaN,36.00
2,ca,California,2017,ELA,3209613.0,20.12,28.44,48.56
3,ca,California,2017,Math,3220894.0,17.60,19.96,37.56
4,a_county,Alameda County Office of Education,2017,Math,117010.0,27.56,19.81,47.37
5,a_county,Alameda County Office of Education,2017,ELA,116292.0,27.20,27.48,54.68
6,oak_ca,Oakland Unified School District,2017,Math,18013.0,11.25,14.25,25.51
7,oak_ca,Oakland Unified School District,2017,ELA,17697.0,11.92,19.94,31.86
8,la_county,Los Angeles County Office of Education,2017,ELA,769958.0,19.15,28.05,47.20
9,la_county,Los Angeles County Office of Education,2017,ELA,773720.0,16.32,19.57,35.89
10,la_ca,Los Angeles Unified School District,2017,ELA,260826.0,14.59,24.96,39.55
11,la_ca,Los Angeles Unified School District,2017,Math,263093.0,12.40,17.46,29.86
0,ca,California,2018,ELA,3180571.0,21.25,28.63,49.88
1,ca,California,2018,Math,3187408.0,18.64,20.01,38.65
2,a_county,Alameda County Office of Education,2018,ELA,115869.0,28.82,27.23,56.05
3,a_county,Alameda County Office of Education,2018,Math,116253.0,28.80,19.80,48.60
4,oak_ca,Oakland Unified School District,2018,Math,17883.0,11.79,15.02,26.81
5,oak_ca,Oakland Unified School District,2018,ELA,17764.0,13.26,19.86,33.12
6,la_county,Los Angeles County Office of Education,2018,ELA,758049.0,20.58,28.35,48.93
7,la_county,Los Angeles County Office of Education,2018,Math,759813.0,17.66,19.80,37.46
8,la_ca,Los Angeles Unified School District,2018,Math,256447.0,13.67,17.95,31.62
9,la_ca,Los Angeles Unified School District,2018,ELA,255489.0,16.49,25.82,42.31
0,co,Colorado,2016,ELA,408890.0,6.70,33.40,40.10
1,co,Colorado,2016,Math,411409.0,5.00,36.60,41.50
2,den_co,Denver County Office of Education,2016,ELA,43057.0,8.10,28.20,36.30
3,den_co,Denver County Office of Education,2016,Math,44762.0,11.10,32.50,43.60
...,...,...,...,...,...,...,...,...
2,den_co,Denver County Office of Education,2017,ELA,43302.0,9.50,29.90,39.40
3,den_co,Denver County Office of Education,2017,Math,45470.0,9.30,33.70,43.00
0,co,Colorado,2018,ELA,376402.0,8.70,35.80,44.50
1,co,Colorado,2018,Math,379681.0,4.70,29.40,34.10
2,den_co,Denver County Office of Education,2018,ELA,37591.0,11.20,30.70,41.80
3,den_co,Denver County Office of Education,2018,Math,39836.0,6.00,25.90,32.00
0,taco_wa,Tacoma School District,2016,ELA,11238.0,NaN,NaN,46.10
1,taco_wa,Tacoma School District,2016,MATH,13590.0,NaN,NaN,40.00
0,wa,Washington,2017,ELA,NaN,NaN,NaN,40.50
1,wa,Washington,2017,Math,NaN,NaN,NaN,41.50
2,taco_wa,Tacoma School District,2017,ELA,12028.0,NaN,NaN,47.60
3,taco_wa,Tacoma School District,2017,Math,14746.0,NaN,NaN,39.60
0,taco_wa,Tacoma School District,2018,ELA,14858.0,NaN,NaN,52.50
1,taco_wa,Tacoma School District,2018,MATH,14858.0,NaN,NaN,39.50
0,jc_nj,Jersey City,2016,ELA,14873.0,9.90,32.50,41.30
1,jc_nj,Jersey City,2016,Math,12860.0,4.20,25.20,29.40
0,nj,New Jersey,2017,ELA,NaN,NaN,NaN,48.00
1,nj,New Jersey,2017,Math,NaN,NaN,NaN,48.00
2,jc_nj,Jersey City,2017,ELA,15230.0,11.10,32.90,42.80
3,jc_nj,Jersey City,2017,Math,15093.0,4.60,23.90,28.40
0,jc_nj,Jersey City,2018,ELA,11382.0,13.40,33.50,48.60
1,jc_nj,Jersey City,2018,Math,15479.0,6.50,24.50,31.10
0,det_mi,Detroit Public Schools Community District,2016,ELA,18771.0,3.00,11.70,14.60
1,det_mi,Detroit Public Schools Community District,2016,Math,18652.0,1.90,9.90,10.60
0,mi,Michigan,2017,ELA,NaN,NaN,NaN,33.00
1,mi,Michigan,2017,Math,NaN,NaN,NaN,33.50
2,det_mi,Detroit Public Schools Community District,2017,ELA,18274.0,2.20,9.80,19.90
3,det_mi,Detroit Public Schools Community District,2017,Math,18255.0,1.60,7.10,15.40
0,det_mi,Detroit Public Schools Community District,2018,ELA,20452.0,2.40,9.20,11.60
1,det_mi,Detroit Public Schools Community District,2018,Math,20492.0,1.30,5.40,6.70

In [31]:
# pass dataframe to database

engine = create_engine('postgres://postgres:postgres@localhost:5432/teacher_strike_db')
conn = engine.connect()
summary_district_test_scores_df.to_sql('district_testscores', con=conn, if_exists='replace', index=False)

In [32]:
# confirm table was created

conn = psycopg2.connect(host="localhost",database="teacher_strike_db", user="postgres", password="postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM district_testscores")
for row in cur:
    print(row)

cur.close()
conn.close()

('ca', 'California', 2016, 'ELA', 3196619.0, 20.0, 29.0, 48.0)
('ca', 'California', 2016, 'Math', 3204822.0, 17.0, 20.0, 37.0)
('a_county', 'Alameda County Office of Education', 2016, 'ELA', 114787.0, 27.0, 28.0, 55.0)
('a_county', 'Alameda County Office of Education', 2016, 'Math', 115430.0, 26.0, 20.0, 47.0)
('us_total', 'National Public', 2017, 'ELA', None, None, None, 35.0)
('us_total', 'National Public', 2017, 'Math', None, None, None, 36.0)
('ca', 'California', 2017, 'ELA', 3209613.0, 20.12, 28.44, 48.56)
('ca', 'California', 2017, 'Math', 3220894.0, 17.6, 19.96, 37.56)
('a_county', 'Alameda County Office of Education', 2017, 'Math', 117010.0, 27.56, 19.81, 47.37)
('a_county', 'Alameda County Office of Education', 2017, 'ELA', 116292.0, 27.2, 27.48, 54.68)
('oak_ca', 'Oakland Unified School District', 2017, 'Math', 18013.0, 11.25, 14.25, 25.51)
('oak_ca', 'Oakland Unified School District', 2017, 'ELA', 17697.0, 11.92, 19.94, 31.86)
('la_county', 'Los Angeles County Office of Education', 2017, 'ELA', 769958.0, 19.15, 28.05, 47.2)
('la_county', 'Los Angeles County Office of Education', 2017, 'ELA', 773720.0, 16.32, 19.57, 35.89)
('la_ca', 'Los Angeles Unified School District', 2017, 'ELA', 260826.0, 14.59, 24.96, 39.55)
('la_ca', 'Los Angeles Unified School District', 2017, 'Math', 263093.0, 12.4, 17.46, 29.86)
('ca', 'California', 2018, 'ELA', 3180571.0, 21.25, 28.63, 49.88)
('ca', 'California', 2018, 'Math', 3187408.0, 18.64, 20.01, 38.65)
('a_county', 'Alameda County Office of Education', 2018, 'ELA', 115869.0, 28.82, 27.23, 56.05)
('a_county', 'Alameda County Office of Education', 2018, 'Math', 116253.0, 28.8, 19.8, 48.6)
('oak_ca', 'Oakland Unified School District', 2018, 'Math', 17883.0, 11.79, 15.02, 26.81)
('oak_ca', 'Oakland Unified School District', 2018, 'ELA', 17764.0, 13.26, 19.86, 33.12)
('la_county', 'Los Angeles County Office of Education', 2018, 'ELA', 758049.0, 20.58, 28.35, 48.93)
('la_county', 'Los Angeles County Office of Education', 2018, 'Math', 759813.0, 17.66, 19.8, 37.46)
('la_ca', 'Los Angeles Unified School District', 2018, 'Math', 256447.0, 13.67, 17.95, 31.62)
('la_ca', 'Los Angeles Unified School District', 2018, 'ELA', 255489.0, 16.49, 25.82, 42.31)
('co', 'Colorado', 2016, 'ELA', 408890.0, 6.7, 33.4, 40.1)
('co', 'Colorado', 2016, 'Math', 411409.0, 5.0, 36.6, 41.5)
('den_co', 'Denver County Office of Education', 2016, 'ELA', 43057.0, 8.1, 28.2, 36.3)
('den_co', 'Denver County Office of Education', 2016, 'Math', 44762.0, 11.1, 32.5, 43.6)
('co', 'Colorado', 2017, 'ELA', 417041.0, 7.5, 34.6, 42.1)
('co', 'Colorado', 2017, 'Math', 419813.0, 5.4, 37.8, 43.2)
('den_co', 'Denver County Office of Education', 2017, 'ELA', 43302.0, 9.5, 29.9, 39.4)
('den_co', 'Denver County Office of Education', 2017, 'Math', 45470.0, 9.3, 33.7, 43.0)
('co', 'Colorado', 2018, 'ELA', 376402.0, 8.7, 35.8, 44.5)
('co', 'Colorado', 2018, 'Math', 379681.0, 4.7, 29.4, 34.1)
('den_co', 'Denver County Office of Education', 2018, 'ELA', 37591.0, 11.2, 30.7, 41.8)
('den_co', 'Denver County Office of Education', 2018, 'Math', 39836.0, 6.0, 25.9, 32.0)
('taco_wa', 'Tacoma School District', 2016, 'ELA', 11238.0, None, None, 46.1)
('taco_wa', 'Tacoma School District', 2016, 'MATH', 13590.0, None, None, 40.0)
('wa', 'Washington', 2017, 'ELA', None, None, None, 40.5)
('wa', 'Washington', 2017, 'Math', None, None, None, 41.5)
('taco_wa', 'Tacoma School District', 2017, 'ELA', 12028.0, None, None, 47.6)
('taco_wa', 'Tacoma School District', 2017, 'Math', 14746.0, None, None, 39.6)
('taco_wa', 'Tacoma School District', 2018, 'ELA', 14858.0, None, None, 52.5)
('taco_wa', 'Tacoma School District', 2018, 'MATH', 14858.0, None, None, 39.5)
('jc_nj', 'Jersey City', 2016, 'ELA', 14873.0, 9.9, 32.5, 41.3)
('jc_nj', 'Jersey City', 2016, 'Math', 12860.0, 4.2, 25.2, 29.4)
('nj', 'New Jersey', 2017, 'ELA', None, None, None, 48.0)
('nj', 'New Jersey', 2017, 'Math', None, None, None, 48.0)
('jc_nj', 'Jersey City', 2017, 'ELA', 15230.0, 11.1, 32.9, 42.8)
('jc_nj', 'Jersey City', 2017, 'Math', 15093.0, 4.6, 23.9, 28.4)
('jc_nj', 'Jersey City', 2018, 'ELA', 11382.0, 13.4, 33.5, 48.6)
('jc_nj', 'Jersey City', 2018, 'Math', 15479.0, 6.5, 24.5, 31.1)
('det_mi', 'Detroit Public Schools Community District', 2016, 'ELA', 18771.0, 3.0, 11.7, 14.6)
('det_mi', 'Detroit Public Schools Community District', 2016, 'Math', 18652.0, 1.9, 9.9, 10.6)
('mi', 'Michigan', 2017, 'ELA', None, None, None, 33.0)
('mi', 'Michigan', 2017, 'Math', None, None, None, 33.5)
('det_mi', 'Detroit Public Schools Community District', 2017, 'ELA', 18274.0, 2.2, 9.8, 19.9)
('det_mi', 'Detroit Public Schools Community District', 2017, 'Math', 18255.0, 1.6, 7.1, 15.4)
('det_mi', 'Detroit Public Schools Community District', 2018, 'ELA', 20452.0, 2.4, 9.2, 11.6)
('det_mi', 'Detroit Public Schools Community District', 2018, 'Math', 20492.0, 1.3, 5.4, 6.7)